* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    font-family: 'Arial';
    color: rgb(227, 223, 255);
    width: 100%;
    background-color: rgb(38, 16, 80);
    position: relative;
    z-index: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/stars1 bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.1; /* Adjust this value to change the image opacity */
    z-index: -1000;
}

a {
    text-decoration: none;
    color: inherit;
}